# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo

# Visual Studio
.vs/
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 기타
*.log
.env
dist/
publish/
Parking24web.Server/publish/
Parking24web.Server/wwwroot/

# 빌드 결과물
*.exe
*.msi
*.zip

# Visual Studio 발행 프로필
*.pubxml

# Inno Setup
*.iss

# .NET 도구
dotnet-tools.json
publish_sokcho*/
publish_GapEulMyeongGa*/
 