# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio
.vs/
.vscode/

# 기타
*.log
.env
dist/

# 자동 생성 프로젝트 파일 (빌드 시 생성)
*.g.props
*.cache
*.FileListAbsolute.txt


# React 빌드 결과물
wwwroot/

# SQLite 데이터베이스
*.db
*.db-shm
*.db-wal
Data/

# FFmpeg HLS 파일
hls/

# Publish 결과물
publish*/
Publish*/